@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #1B85C3;
  font-family: 'Inter', sans-serif;
  color: #fff;
}

.content-container {
  display: flex;
  flex-direction: column; 
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  /*margin: 40px 0;*/
}

.balance-container {
  flex: 1;
  display: flex; 
  margin: 0 20px 20px 20px;
  width: 100%;
  justify-content: center;
}

.history-container {
  flex: 2;
  display: flex;
  margin: 20px 20px 20px 20px;
  width: 100%;
  justify-content: center;
}

.services-container {
  display: flex;
  justify-content: center;
  margin: 20px;
}

.user-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
  font-size: 1.1rem;
  font-weight: 500;
}

